* {
  margin: 0;
  padding: 0;
  color: #dbdbdb;
}

body {
  background: black;
}

p {
  line-height: 22px;
  font-size: 16px;
  line-height: 22px;
}

ul {
  list-style: none;
}

#main {
  margin-top: 5px;
}

#loading {
  padding-top: 100px;
}

#loading > p {
  padding-left: 10px;
  font-size: 18px;
  text-align: center;
  line-height: 28px;
}

#box_day {
  /*float: left;*/
}

.table_day {
  float: left;
  width: 157px;
  font-size: 13px;
  text-align: center;
}

.div0, .div1 {
  border-right: 1px solid;
}

img {
  display: block;
  margin: 0 auto;
  height: 54px;
  width: 54px;
}

#words_div {
  margin-top: 50px;
  text-align: center;
}

.clear_float {
  clear: both;
}
